<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<%= link_to 'Bug Management System', root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <!--  <li class="nav-item active">
         <%= link_to 'Home', root_path, class: 'nav-link active' %>
      </li> -->
       <% if user_signed_in? %>
              <li><%= link_to 'Sign Out', destroy_user_session_path, class: 'nav-link active', method: :delete %></li>
              <% if can? :manage , Project %>
                 <li><%= link_to 'Add Project', new_project_path , class: 'nav-link active' %></li>
                <% end %>
                <li><%= link_to 'All Project', projects_path , class: 'nav-link active' %></li>
            <% else %>
              <li><%= link_to 'Sign In', new_user_session_path, class: 'nav-link active' %></li>              
            <% end %>
    </ul>
  </div>
</nav>






